# Copy to env.yml after `pnpm run configure`. Do not commit env.yml.
store_rid: ri.marketplace.main.local.REPLACE
folder_rid: ri.compass.main.folder.REPLACE
input_mappings:
  organizationInput:
    type: markings
    markings:
      markingIds:
      - REPLACE
      stableId: null
  websiteSubdomain:
    type: parameter
    parameter:
      value:
        type: stringValue
        stringValue: harbor-desk.example.palantirfoundry.com
